*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
.head {
    background-color: green;
}
.para1 {
    background-color: rgb(195, 195, 33);
}
.para2 {
    background-color:blueviolet
}